/* body */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 10000px;
  margin: 0;
}

input[type=email] {
  background: #584B3C;
  border-width: 0px;
  border-bottom: 1px solid #716659;
  color: #B0AAA6;
  font-size: 15px;
}

input[type=number] {
  background: #584B3C;
  border-width: 0px;
  border-bottom: 1px solid #716659;
  color: #B0AAA6;
  font-size: 15px;
}

input[type=text] {
  background: #584B3C;
  border-width: 0px;
  border-bottom: 1px solid #716659;
  color: #B0AAA6;
  font-size: 15px;
}

.img3 {
  object-fit: fill;
  width: 100%;
  height: 100%;
}


/* Navigation 3fr 1fr 1fr 1fr 1fr 1fr 1fr; */

.nav-grid {
  display: grid;
  grid-template-columns: 3fr repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background: #463C30;
  height: 70px;
  margin: 0;
}


@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
  }
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  max-height: 60px;
}

/*Gyvenimas slenyje */

.img {
  object-fit: fill;
  max-width: 100%;
  min-width: 150px; 
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10, 1fr);
  grid-auto-rows: 100px;
  height: 95vh; 
  background: #F7F3EC;
  /* text-align: center; */
}

.grid div:nth-child(1) {
  /* border: solid 1px black; */
  grid-column-start: 1;
  grid-column-end: 11;
  text-align: left;
}

.grid div:nth-child(1) h2 {
  padding-left: 70px;
  text-transform: uppercase;
  margin-top: 30px;
  color: #706E6A;
  font-weight: 900;
}

.grid div:nth-child(2) {
  /* border: solid 1px black; */
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 8;
  text-align: center;
}

.grid div:nth-child(2) p {
  transform: rotate(-90deg);
  margin-top: 240px;
  color: #999792;
  letter-spacing: 1px;  
}

.grid div:nth-child(3) {
  /* border: solid 1px black;  */
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 6;
  background: #584B3C;
  height: 65vh;
}

.grid div:nth-child(4) {
  /* border: solid 1px black; */
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 7;
  height: 65vh;
  max-width: 400px;
  margin-left: 70px;
  margin-top: -30px;
}

.grid div:nth-child(5) {
  /* border: solid 1px black; */
  grid-column-start: 6; 
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;
  background: #584B3C;
  height: 65vh;
  
}

.text {
  justify-self: center;
  margin-top: 65px;
  margin-right: 40%;
  margin-left: 10%;
  color: #D0CBC3;
  display: inline-block;
}

#text2 {
  font-size: 30px;
}

#text3 {
  font-weight: 700;
}

.button2 {
  background: #584B3C;
  border: 1px solid #D0CBC3;
  color: #D0CBC3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
}






/* Vieta mieste  450px*/

.grid2 {
  display: grid;
  grid-template-columns: 100px minmax(100px, 450px) auto 100px;
  grid-template-rows: 160px 607px 100px;
  max-height: 840px; 
  background: #ECE2D2;
}

.item1 {
  /* border: solid 1px black; */
  grid-column-start: 2;
  grid-column-end: 5;
}

.item1 h1 {
  color: #706E6A;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 40px;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4; 
}

.item3 {
  grid-column-start: 2;
}

.item4 {
  grid-column-start: 3;
}

/* css grid inside css grid */

.wrapper3-1 {
  display: grid;
  grid-template-rows: 60px 547px;
}

.item3-1 {
  background: #584B3C;
}

.item3-2 {
  background: #F7F3EC;
  color: #584B3C;
}

/* css grid inside css grid navbar */

.wrapper3-1-2 {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 7, 1fr); */
  width: 100%;
  text-align: center;
  
  overflow: auto;
}
.wrapper3-1-2 a {
  width: 14%;
  padding: 5px 0;
  float: left;
  transition: all 0.3s ease;
  font-size: 36px;
  border-left: 1px solid #F7F3EC
}

.wrapper3-1-2 a:hover {
  background: #9CB16D;
}


.big-icon {
  font-size: 20px;
  display: block;
}

.map-text {
  margin-top: 60px;
  margin-bottom: 150px;
  margin-left: 57px;
  margin-right: 57px;
}

.map-text h4 {
  text-transform: uppercase;
  font-weight: 900;
}

.map-text p {
  color: #989691;
}

.map-num {
  font-weight: 900;
  float: right;
  color: #584B3C;
}

hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #989691;
    margin: 1em 0;
    padding: 0; 
}



/* Nekilnojamojo turto vystitojas */
/* .wrapper4 {
  height: 85vh;
} */

/* Kontaktai */

.wrapper5 {
  display: grid;
  grid-template-columns: 2fr 1.6fr 0.3fr 0.7fr;
  grid-template-rows: 80px 70px 1fr 50px 120px ;
  height: 100vh;
  background: #F7F3EC;
}

.itme5-1 {
  grid-column: 1/5;
}

.itme5-2 {
  grid-column: 1/4;
  grid-row: 2/4;
  background: #ECE2D2;
}

.itme5-3 {
  grid-column: 2/3;
  grid-row:  3/5;
  background: #584B3C;
}

.itme5-4 {
  grid-row: 2/4;
}

.itme5-5 {
  grid-column: 1/2;
  grid-row: 2/4;
  background: #ECE2D2;
}

.img2 {
  display: block;
  width: 170px;
  height: 150px;
  object-fit: fill;
}

.wrapper5-1 {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  max-height: 500px;
}

.itme5-1-1 {
  grid-column: 2/4;
  grid-row: 2/3;
  border: solid 1px black;
  font-size: 40px;
}

.item5-1-2 {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0px 5px 0px 5px;
}

.item5-1-3 {
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 0px 5px 0px 5px;
}



/* forma */

.container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr auto 3fr;
  grid-gap: 5%;
}

/* .flex {
  display: flex;
  flex-direction: row;
  padding: 2rem;
} */

.form1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.form2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.form3 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.form4 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.form5 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.form-text {
  color: #D0CBC3;
  text-transform: uppercase;
  font-weight: 900;
}

.button {
  background: #879E59;
  border: none;
  color: #D0CBC3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* footeris */

footer {
  background: #302D28;
}

footer p {
  color: #6E6B68;
  margin: 0;
  height: 60px;;
}


